<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration"/>
  </configSections>

  <unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
    <assembly name="UnityTest1" />
    <container>
      <register type="UnityTest1.IA" mapTo="UnityTest1.A"/>
      <register type="UnityTest1.A">
        <property name="P1" value="1234"/>
        <property name="BB" dependencyName="N20"/>
        <property name="BB2" dependencyType="UnityTest1.B"/>
        <constructor>
          <param name="x" value="5500"/>
        </constructor>
      </register>
      <register type="UnityTest1.A" name="A2">
        <property name="P1" value="8080"/>
        <constructor>
          <param name="x" value="5500"/>
        </constructor>
      </register>
      <register type="UnityTest1.B" name="N20"/>
    </container>

  </unity>  
  
</configuration>
